@font-face {
    font-family: 'HelveticaNeueCyr-Medium';
    src: url('HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.otf')  format('opentype'),
    url('HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.woff') format('woff'),
    url('HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.ttf')  format('truetype'),
    url('HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Roman';
    src: url('HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.otf')  format('opentype'),
    url('HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.ttf')  format('truetype'),
    url('HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}
