.running-free-documentary-sec{
	position: relative;
	padding: 0 
}
.rfd-sec-cntlr{
	position: relative;
	background: #f4f4f4;
}
.rfds-bg{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 235px;
	z-index: 1;
}