/**
All heading
*/
h1,h2,h3,h4,h5,h6{
	line-height: 1;	
	margin-top: 0;
	margin-bottom: 20px;
	font-family: 'HelveticaNeueCyr-Medium';
}
h1{
	font-size: 61px;
}
h2{
	font-size: 53px;
}
h3{
	font-size: 50px;
}
h4{
	font-size: 46px;
}
h5{
	font-size: 40px;
}
h6{
	font-size: 30px;
}
